{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %} Post {% endblock title %}

{% block content %}

<table>
    <thead>
        <th>
            Заголовок
        </th>
        <th>
            Дата публикации
        </th>
        <th>
            Превью
        </th>
        <th>
            Тип поста
        </th>
        <th>
            Рейтинг
        </th>
    </thead>
</table>
<tr>
    <td>
       <a href="{{ news.get_absolute_url }}"> {{ news.title|censor }} </a>
    </td>
    <td>
        {{ news.dateCreated|date:'d M Y' }}
    </td>
    <td>
        {{ news.text|truncatechars:50|censor }}
    </td>
     <td>
        {{ news.categoryType }}
    </td>
    <td>
        {{ news.rating }}
    </td>

</tr>
{% endblock content %}